body {
    background-image: linear-gradient(to left , #F4F1BB , #f88e99ff);
}
h2 {
    font-size: 20pt;
    color: white;
    background-image: linear-gradient(to left , #f0eae2 , #c01e2e);
    padding: 5px 0px 5px auto;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
    }
    hr{
       margin-bottom: 20px; 
    }
p {
        text-align: center;
}

h1 {
    background-image: linear-gradient(to left , #f0eae2 , #c01e2e);
    color: white;
}